{% extends 'comunes/default.html.twig' %}

{% block contenido %}

    <section class="bg-white py-5">
        <div class="container text-black">
            <h2>Nueva cita previa</h2>
                <div class="container justify-content-start">
                    {{ include('comunes/_form.html.twig') }}
                <br>
                </div>
        </div>
    </section>

{% endblock %}