{% extends 'comunes/default.html.twig' %}

{% block contenido %}
<section class="bg-white py-5">
    <div class="container text-center">
        <h2>Cuadro médico:</h2>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><strong>Categoria</strong></th>
                    <th scope="col"><strong>Especialidad</strong></th>
                </tr>
            </thead>
            <tbody>
                      {% for especialidad in especialidades %}
                        <tr>
                            <td>{{ especialidad.categoria}}</td>
                            <td>
                                <a href="{{ path('app_medico_especialidad', { id: especialidad.id }) }}">{{ especialidad.nombre }}</a>
                            </td>
                        </tr>
                    {% endfor %}
            </tbody>
            </table>
    </div>
</section>
{% endblock %}
