{% extends 'comunes/default.html.twig' %}

{% block contenido %}
<section class="bg-white py-5">
    <div class="container">
        <div class="row">
            <h2>Su opinión nos importa mucho</h2>
            {% include 'comunes/_mensajes.html.twig' %}
            {% for encuesta in encuestas %}

            <div class="col-md-4 text-center" data-aos="fade-in" data-aos-delay="0">
                <div class="py-5">
                    <a href="{{ path('app_realizar_encuesta', { id: encuesta.id }) }}">
                        <img src="images/{{ encuesta.nombre }}.png" alt="{{ encuesta.nombre }}" class="w-25">
                        <h4 class="element-title text-capitalize my-3">
                        {{ encuesta.nombre }}
                        </h4>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
