{% extends 'comunes/default.html.twig' %}

{% block contenido %}
<section class="bg-white py-5">
    <div class="container">
        <h2>Servicios fisioterapia deportiva:</h2>

            <table class="table text-center text-black">
            <thead>
                <tr>
                    <th scope="col"><strong>Servicio</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for servicio in servicios %}
                        <tr>
                            <td>
                                <a href=" ">
                                {{ servicio.nombre }}
                                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#F19E39"><path d="M522-480 333-669l51-51 240 240-240 240-51-51 189-189Z"/></svg>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
            </tbody>
            </table>
    </div>
</section>
{% endblock %}
